body {
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

h1 {
    color: white;
    font-size: 60px;
    font-weight: 800;
    line-height: 78.66px;
    text-align: center;
}

section {
    display: flex;
}

p {
    font-weight: 400;
    text-align: center;

}

.white-color {
    color: white;
}

.link-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
    padding: 15px 40px;
    position: absolute;
    left: 300px;
    top: 350px;
    opacity: 0.2;


}


#top-banner {
    background-image: url(images/donation3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 650px;
    width: 1440px;
    left: 0;
    top: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 25));
    border: 1px;
    display: block;
}

.banner-text {
    position: absolute;
    display: block;
    width: 826px;
    height: 319px;
    left: 319px;
    top: 174px;
}

h2 {
    color: black;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    position: absolute;
    line-height: 54px;
    width: 300px;
    height: 54px;
    left: 550px;
    top: 800px;

}

.text-color {
    font: poppins;
    position: absolute;
    width: 680px;
    height: 50px;
    left: 376px;
    top: 890px;
    color: #707070;
    text-align: cente;

}

.container {
    display: flex;
    margin: 70px 0px;
    position: absolute;
    padding: 10px;
    top: 900px;
    left: 350px;

}

.box {

    background: #fafafa;
    margin: 0px 10px;
    text-align: center;
    float: left;
    font-weight: 700px;
    font-size: 25px;
    top: 1022px;
    left: 518px;
    width: 110px;
    height: 55px;

}

#change-color {
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;

}

.box:hover {
    transform: scale(1.4);
    background: #fafafa;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 25);
    border-radius: 5px;
    top: 979px;
    left: 968px;
    height: 123px;
    width: 134px;
    display: block;
    text-align: center;
}

.amount-text {
    font: poppins;
    position: absolute;
    width: 690px;
    height: 50px;
    left: 376px;
    top: 1100px;
    font-style: normal;
    color: #707070;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    border-width: 400px;


}

.line {

    /* Line 1 */

    position: absolute;
    width: 765px;
    height: 0px;
    left: 338px;
    top: 1160px;

    border: 1px solid #DADADA;



}

.second-link-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    border-radius: 5px;
    padding: 15px 40px;
    position: absolute;
    left: 300px;
    top: 1200px;
    left: 635px;

}

.donate-plan {
    color: black;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    position: absolute;
    line-height: 50px;
    width: 300px;
    height: 54px;
    left: 583px;
    top: 1300px;

}

.text-color-plan {
    font: poppins;
    position: absolute;
    width: 690px;
    height: 50px;
    left: 376px;
    top: 1355px;
    font-style: normal;
    color: #707070;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: cente;

}

.half-width {
    display: flex;
}

.icon {

    position: absolute;
    width: 310px;
    height: 101px;
    left: 180px;
    top: 2000px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #707070;
    /* Rectangle 6 */

    position: absolute;
    width: 360px;
    height: 352px;
    left: 147px;
    top: 1595px;

    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;


}

.food {
    position: absolute;
    width: 231px;
    height: 35px;
    left: 564px;
    top: 1741px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #121212;

    /* Rectangle 7 */
    position: absolute;
    width: 360px;
    height: 352px;
    left: 541px;
    top: 1595.5px;

    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
}

.medicine {
    position: absolute;
    width: 250px;
    height: 36px;
    left: 948px;
    top: 1740.78px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #121212;

    position: absolute;
    width: 360px;
    height: 352px;
    left: 925px;
    top: 1595.5px;

    background: #FFF4D6;
    border-radius: 5px;
}

.img {
    top: 0;
}

.tit-tex {
    color: #121212;
    font-size: 24px;
    text-align: left;
}

.ico-tex {
    font-size: 15px;
    text-align: left;
    font-weight: 400;
}

section {
    display: flex;
}

.half-width {
    width: 50%;

}

.de-donatin {

    position: absolute;
    width: 492px;
    height: 108px;
    left: 157px;
    top: 2130px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;

    color: #121212;


}

.de-text {


    position: absolute;
    width: 482px;
    height: 84px;
    left: 156px;
    top: 2258px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */

    color: #707070;


}

.image-do {
    background: #C4C4C4;
    border-radius: 5px;

    position: absolute;
    width: 825px;
    height: 550px;
    left: 384px;
    top: 2058px;

    background: url(image.png);

}

.donate-up {
    color: black;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    position: absolute;
    line-height: 50px;
    width: 300px;
    height: 54px;
    left: 583px;
    top: 2000px;
}

.text-up {
    font: poppins;
    position: absolute;
    width: 690px;
    height: 50px;
    left: 376px;
    top: 2100px;
    font-style: normal;
    color: #707070;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: cente;

}



.box-sec {

    position: absolute;
    background: #fafafa;
    width: 809px;
    height: 200px;
    left: 313px;
    top: 2300px;
    background: #FFF4D6;


}

.sub-section {
    text-decoration: none;
    color: black;
    background-color: #fafafa;
    border-radius: 5px;
    padding: 17px 100px;
    position: relative;
    left: 5px;


}

.box-button {
    position: absolute;
    left: 190px;
    top: 122px;
}

.email-sec {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);

    background: #707070;
    border-radius: 5px;
    padding: 17px 60px;



}